.navbar-nav {
  margin: auto;
}

.nav-item {
  padding-left: 20px;
  font-size: 20px;
}

.nav-link {
  color: white;
}

.logo {
  width: 26px;
  border-radius: 50px;
}

.container-fluid {
  position: fixed;
  top: 0;
  padding: 30px;
  background-color: #c77dff;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
